html, body {
    height: 100%; /* ทำให้ body และ html ครอบคลุมความสูงของหน้าจอ */
    margin: 0;
    padding: 0;
    background-image: url('https://images.hdqwalls.com/wallpapers/honkai-impact-3rd-anime-4k-03.jpg'); /* ใส่ URL ของรูป */
    background-size: cover; /* ให้รูปภาพครอบคลุมพื้นที่ทั้งหมด */
    background-repeat: no-repeat; /* ไม่ให้รูปภาพซ้ำ */
    background-position: center; /* จัดตำแหน่งรูปภาพให้อยู่ตรงกลาง */
    color: #fff; /* สีตัวอักษร */
}
header {
    background-color: #6200ea;
    color: white;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.contact-links {
    margin: 20px;
    padding: 0;
}

.contact-links .link {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    width: 200px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.contact-links .easydonade {
    background-color: #3b5998;
}

.contact-links .instagram {
    background-color: #e4405f;
}

.contact-links .discord {
    background-color: #1da1f2;
}

.contact-links .tipme {
    background-color: #d44638;
}

.contact-links .email {
    background-color: #34a853;
}

.contact-links .Fisch {
    background-color: #9cf79f;
}

footer {
    background-color: #6200ea;
    color: white;
    padding: 10px 0;
    position: absolute;  /* ทำให้ footer ติดกับขอบล่าง */
    bottom: 0;  /* ทำให้ footer อยู่ที่ด้านล่างสุด */
    width: 100%;  /* กำหนดให้ footer กว้างเต็มหน้าจอ */
    text-align: center;
}

footer p {
    margin: 0;
}
